.content.sidebar-closed{
  margin-left: 60px;
}

.pagination-page-input{
  margin: 20px 0;
}
.pagination-page-input .input-group-addon{
  cursor: pointer;
}
.as-tr{
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
  margin: 15px;
}

.as-tr .btn[type="submit"]{
  margin: 0;
}
.as-tr .actions{
  float: right;
  text-align: right;
}
.as-tr.as-thead{
  font-weight: 600;
}
