.sidebar.closed{
  width: 50px;
}
.toggle-sidebar{
  position: absolute;
  right: 12px;
  color: white;
  cursor: pointer;
}
.sidebar.closed .toggle-sidebar{
  -webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
  -moz-transform: rotate(180deg);        /* FF */
  -o-transform: rotate(180deg);          /* Opera */
  -ms-transform: rotate(180deg);         /* IE9 */
  transform: rotate(180deg);
}

.sidebar.closed .user-info .image{
  display: none;
}
.sidebar.closed .user-info .info-container{
  display: none;
}
.sidebar.closed .menu .header{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  height: 33px;
}
