@media screen and (max-width: 768px) {
  .ls-closed section.content {
    margin-left: 0;
    margin-right: 0;
  }
  .ls-closed section.content .container-fluid{
    padding-right: 7px;
    padding-left: 7px;
  }
}
