<template>
    <div class="as-table">



      <div class="row as-tr">
          <div class="col-md-1">isFood</div>
          <div class="col-md-2 sortable-column" data-column-name='category'>Category</div>
          <div class="col-md-2 sortable-column" data-column-name='brand_name'>Brand</div>
          <div class="col-md-2 sortable-column" data-column-name='product_name'>productName</div>
          <div class="col-md-5">
            Attributes
          </div>

      </div>
      <template v-for='(item, index) in items'>
        <trade-item-attribute-level :item='item' :key='item.id' :attrs='attributes' @onInput='storeLabel($event, item)'>
        </trade-item-attribute-level>
      </template>

        <button class="btn btn-success save-btn" @click='saveAll'>save</button>
        <sweet-modal icon="success" ref="modal">
              This is a success!
        </sweet-modal>
    </div>
</template>

<script>
    import api_request from '../../../api/base_request'
    import { SweetModal } from 'sweet-modal-vue'

    const GET_TRADE_ITEMS_WITH_LABELS_PATH = '/admin/trade_item/attributte_levels'
    const PUT_TRADE_ITEMS_LABELS_PATH = '/admin/trade_item/attributte_levels'
    const GET_LABELS_PATH = '/admin/labels'

    const TradeItemAttrSelect = require('./AttrSelect.vue');

    export default {
        components: {
          'trade-item-attribute-level': TradeItemAttrSelect,
          SweetModal,
        },
        data(){
          return {
            items: null,
            attributes: []
          }
        },
        mounted() {
          let that = this
          api_request.retrieveData(GET_LABELS_PATH).then(response => {
            console.log(response.data)
            this.attributes = response.data;
          })
          api_request.retrieveData(GET_TRADE_ITEMS_WITH_LABELS_PATH + window.location.search)
            .then(response => {
              that.items = response
            });


        },
        methods: {
          storeLabel(e, item){
            item.labels = e;
            console.log(item)
          },
          saveAll(){
             api_request.saveData({
              url: PUT_TRADE_ITEMS_LABELS_PATH,
              data: {
                trade_items: this.items.map(function(item){
                  return {
                    id: item.id,
                    labels: item.labels.map(function(label){ return label.id })
                  }
                })
              }
            })
            .then(response => {
              this.$refs.modal.open()
            });

          }
        }
    }

</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style type="text/css" lang="scss">
  .as-table{
    padding: 10px;
    .as-tr{
      display: flex;
      align-items: center;
      padding: 10px;
      margin: 0;
      border-bottom: 1px solid rgb(238, 238, 238);
    }
  }
  .save-btn{
    margin-top: 45px;
    position: absolute;
    right: 15px;
  }

</style>
