<template>
    <div class="row as-tr">
      <div class="col-md-1">{{item.food}}</div>
      <div class="col-md-2">{{item.category}}</div>
      <div class="col-md-2">{{item.brandName}}</div>
      <div class="col-md-2">{{item.productName}}</div>
      <div class="col-md-5">
        <multiselect v-model="value" :options="attrs" :multiple="true"  :clear-on-select="false" :hide-selected="true" :preserve-search="true" placeholder="Pick some" label="title" track-by="id" @input='onInput'></multiselect>
      </div>

    </div>
</template>

<script>
    import api_request from '../../../api/base_request'
    import Multiselect from 'vue-multiselect'

    export default {
      components: {
        Multiselect
      },
      name: 'validoo-item-attribute-level',
      props: [ 'item', 'attrs'],
      data(){
        return {
          value: [],
        }
      },

      methods: {
        onInput(){
          this.$emit('onInput', this.value)
        }
      },
      mounted: function(){
        this.value = this.item.labels

      },

    }
</script>

<style>
  .form-group .form-control.success{
    border-bottom: 1px solid green;
  }
  .form-group .form-control.updating{
    border-bottom: 1px solid yellow;
  }
</style>
