<template>
    <tr>
      <td>{{item.food}}</td>
      <td>{{item.category}}</td>
      <td>{{item.brandName}}</td>
      <td>{{item.productName}}</td>
      <td v-for='(attr, index) in item.validoo_item_attributtes'>
        <div class="form-group">
          <div class="form-line">
            <input type='number' 
              :name='attr.attribute_name' 
              class='form-control' 
              :class='attr.status'
              @change='updateData($event, attr)'
              v-model='attr.value'>

          </div>
        </div>  
      </td>
    </tr>
</template>

<script>
    import api_request from '../../../api/base_request'

    export default {
      name: 'validoo-item-attribute-level',
      props: [ 'item' ],
      data(){
        return {
          attrs: []
        }
      },
      created(){
        this.item.validoo_item_attributtes.forEach(attr => {
          attr.status = 'waiting';
          attr.isUpdatingTimeout = ''
        })
      },
      methods: {
        updateData(e, attr){
          let that = this;
          clearTimeout(attr.isUpdatingTimeout);
          attr.isUpdatingTimeout = setTimeout(function(){
          
            let url = '/admin/validoo_item/{validoo_item}/attributte_levels'
            .replace('{validoo_item}', that.item.id)
            
            api_request.saveData({
              url: url,
              data: {
                attribute_name: attr.attribute_name,
                value: e.target.value
              },
            }).then(response => {
              attr.status = 'success'
              attr.value = response.value
              that.$forceUpdate();
            })

          }, 900)
          
        }
      },

    }
</script>

<style>
  .form-group .form-control.success{
    border-bottom: 1px solid green;
  }
  .form-group .form-control.updating{
    border-bottom: 1px solid yellow;
  }
</style>
