<template>
    <div class="table-responsive">
        <table class="table table-borderless">
            <thead>
              <tr>
                  <th>isFood</th>
                  <th class="sortable-column" data-column-name='category'>Category</th>
                  <th class="sortable-column" data-column-name='brand_name'>Brand</th>
                  <th class="sortable-column" data-column-name='product_name'>productName</th>
                  <th>Attribute #1</th>
                  <th>Attribute #2</th>
                  <th>Attribute #3</th>
                  <th>Attribute #4</th>
                  <th>Attribute #5</th>
                  <th>Attribute #6</th>
                  <th>Attribute #7</th>
              </tr>
            </thead>
            <tbody>
              <template v-for='(item, index) in items'>
                <validoo-item-attribute-level :item='item' :key='item.id'>
                </validoo-item-attribute-level>
              </template>
            </tbody>
        </table>
    </div>
</template>

<script>
    import api_request from '../../../api/base_request'

    const GET_VALIDOO_ITEMS_WITH_ATTRIBUTES_PATH = '/admin/validoo_item/attributte_levels'

    const ValidooItem = require('./Item.vue');

    export default {
        components: { 'validoo-item-attribute-level': ValidooItem },
        data(){
          return {

            items: null,
            attributes: [
              {
                name: 'attribute#1',
              },
              {
                name: 'attribute#2',
              },
              {
                name: 'attribute#3',
              },
              {
                name: 'attribute#4',
              },
              {
                name: 'attribute#5',
              },
              {
                name: 'attribute#6',
              },
              {
                name: 'attribute#7',
              },
            ]
          }
        },
        mounted() {
          let that = this

          api_request.retrieveData(GET_VALIDOO_ITEMS_WITH_ATTRIBUTES_PATH + window.location.search)
            .then(response => {
              that.items = response.map(function(item){
                let tmp = [];     

                that.attributes.forEach(function(attr, index){
                  let attr_value = findInArrayByKey(item.validoo_item_attributtes, attr.name)
                  if(!attr_value){
                    attr_value = {
                      attribute_name: attr.name,
                      value: ''
                    }                  
                  }
                  tmp.push(attr_value)

                })
                item.validoo_item_attributtes = tmp;
                return item;
              })
            });


        },
    }

    
    function findInArrayByKey(arr, key){
      let res = ''
      arr.forEach(function(item){
        if(item.attribute_name == key){
          res = item;
          return false;
        }
      })
      return res;
    }
</script>
