.material-icons {
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.search-form{
  margin-top: 20px;
}
.sortable-column{
  cursor: pointer;

  &:hover{
    color: #E6A81E;
  }
  &.asc:before{
    vertical-align: top;

    font-size: 20px;
    @extend .material-icons;
    content: 'arrow_upward';
  }
  &.desc:before{
    vertical-align: top;
    font-size: 20px;
    @extend .material-icons;
    content: 'arrow_downward';
  }
}

form{
  .btn-primary[type="submit"]{
    margin: 20px 0;
    float: right;
  }
}
.content{

  th[data-column-name="product_name"]{
    min-width: 140px;
  }
  th[data-column-name="category"]{
    min-width: 105px;
  }
  th[data-column-name="crawler_name"]{
    min-width: 150px;
  }
  th[data-column-name="brand"]{
    min-width: 130px;
  }
  th[data-column-name="id"]{
    min-width: 55px;
  }
  td.actions.with-three-btns{
    min-width: 150px;
  }
  .upload-btn{
    height: 33px;
  }
  form[role='search']{
    .input-group-addon{
      padding-top: 0;
    }
  }
}
