<template>

    <div class= 'row clearfix' :class="{'div-disabled-row ' : !form.product.food }">
        <div class="demo-checkbox col-md-1">
            <input type="checkbox" :id="'basic_checkbox_' + item.id" v-model="form.product.food" />
            <label class="custom-label-checkbox" :for="'basic_checkbox_' + item.id"></label>
        </div>
        <div class="col-md-1">
            unknown
        </div>
        <div class="col-md-1">{{ getBrand() }}</div>
        <div class="col-md-2">{{ getTitle() }}</div>
        <div class="col-md-2">
            <select class="form-control show-tick" v-model="selected.food_cat_3_name" :disabled="!form.product.food">
                <option v-for="option in food_cat_3_name"> {{ option }} </option>
            </select>
        </div>
        <div class="col-md-1">
            <select class="form-control show-tick" v-model="selected.slv_name" :disabled="!form.product.food">
                <option v-for="option in slv_name"> {{ option }} </option>
            </select>
        </div>
        <div class="col-md-2">
            <select class="form-control show-tick" v-model="selected.region_name" :disabled="!form.product.food">
                 <option v-for="option in region_name"> {{ option }} </option>
            </select>
        </div>
        <div class="col-md-1">{{ result_selected.ghg_total_value }}</div>
        <div class="col-md-1">
            <button type="button" class="btn btn-info waves-effect" @click="clearFilter()" :disabled="!form.product.food">...</button>
        </div>
    </div>
</template>

<script>


    export default {
        name: 'validoo-item',
        props: [ 'item', 'rise_datum', 'form_item' ],

        data(){
            return {
                selected: {
                    food_cat_3_name: null,
                    slv_name: null,
                    region_name: null
                },
                form: {}
            }
        },
        beforeMount () {
            this.form = this.form_item // save props data to itself's data and deal with it
        },
        mounted (){
          if(this.item.rise_data['0']){
              let rise_data = this.item.rise_data['0']
              this.selected.food_cat_3_name = rise_data.food_cat_3_name
              this.selected.slv_name = rise_data.slv_name
              this.selected.region_name = rise_data.region_name
          }
        },
        methods: {
            getTitle(){
                let desc = this.item.trade_item.descriptions
                if(desc !== null){
                   return this.item.trade_item.descriptions.description_short
                }
                return 'unknown'
            },
            getBrand(){
                let desc = this.item.trade_item.descriptions
                if(desc !== null){
                    return this.item.trade_item.descriptions.brand_name_information
                }
                return 'unknown'
            },
            clearFilter(){
               this.selected = {
                   food_cat_3_name: null,
                   slv_name: null,
                   region_name: null
               }
                this.change_form(this.item, null)
            },
            change_form(item, catetegory_id){
                this.form.category_id = catetegory_id
                this.form.product = {
                    food: item.food,
                    id: item.id
                }
            }
        },
        computed: {
            food_cat_3_name(){
                let arr = this.rise_datum

                if(this.selected.slv_name) {
                    arr = arr.filter(item => item.slv_name === this.selected.slv_name)
                }

                if(this.selected.region_name ) {
                    arr = arr.filter(item => item.region_name === this.selected.region_name)
                }
                //return unique val
                return [...new Set(arr.map(item => item.food_cat_3_name))]
            },
            slv_name(){
                let arr = this.rise_datum

                if(this.selected.food_cat_3_name) {
                    arr = arr.filter(item => item.food_cat_3_name === this.selected.food_cat_3_name)
                }
                if(this.selected.region_name ) {
                    arr = arr.filter(item => item.region_name === this.selected.region_name)
                }
                //return unique val
                return [...new Set(arr.map(item => item.slv_name))]
            },
            region_name(){
                let arr = this.rise_datum
                if(this.selected.food_cat_3_name ) {
                    arr = arr.filter(item => item.food_cat_3_name === this.selected.food_cat_3_name)
                }

                if(this.selected.slv_name ) {
                    arr = arr.filter(item => item.slv_name === this.selected.slv_name)
                }
                //return unique val
                return [...new Set(arr.map(item => item.region_name))]
            },
            result_selected(){
                if(this.selected.food_cat_3_name && this.selected.slv_name && this.selected.region_name ) {
                    const res = this.rise_datum.filter(item => {
                        return item.food_cat_3_name === this.selected.food_cat_3_name
                            && item.slv_name === this.selected.slv_name
                            && item.region_name === this.selected.region_name
                    })

                    if (res.length > 1) {

                        console.log({ghg_total_value: 'not unique'}, res)
                    }

                    if (res.length === 0) {
                        return {ghg_total_value: ''}
                    }

                    this.change_form(this.item, res[0].id)

                    return res[0]
                }

                return {ghg_total_value: ''}
            }
        }
    }
</script>

<style>

    #list_validoo_items .row{
        padding-top: 15px;

    }
    .div-disabled-row{
        background: #e6e6e6;

    }
    .div-disabled-row .col-md-2{
        margin-bottom: 0;
    }
    .card .body .div-disabled-row .demo-checkbox{
        margin-bottom: 0;
    }

    .custom-label-checkbox{
        min-width: 5px !important;
    }
</style>
