<template>
    <div class="body">
        <div class="row clearfix">
            <div class="col-md-1 sortable-column" data-column-name='isFood'><strong>isFood</strong></div>
            <div class="col-md-1 sortable-column" data-column-name='category'><strong>Category</strong></div>
            <div class="col-md-1 sortable-column" data-column-name='brand_name'><strong>Brand</strong></div>
            <div class="col-md-2 sortable-column" data-column-name='product_name'><strong>Product Name</strong></div>
            <div class="col-md-2"><strong>FoodCat3Name</strong></div>
            <div class="col-md-1"><strong>SLVName</strong></div>
            <div class="col-md-2"><strong>RegionName</strong></div>
            <div class="col-md-1"><strong>GHGValue</strong></div>
            <div class="col-md-1"><strong>Clear filter</strong></div>
        </div>

        <validoo-item v-for="(item, index) in items" :key="item.id"
            v-bind:item="item"
            v-bind:form_item="formItems[index]"
            v-bind:rise_datum="rise_datum"
        ></validoo-item>

        <div>
            <div class="col-md-1 offset-md-3 pull-right save-btn" v-if="items.length > 0">
                <button type="button" class="btn btn-success waves-effect" @click="saveAssigned()">Save</button>
            </div>
            <div v-else>
                <p style="color:#607D8B">All products have category level</p>
            </div>
        </div>
    </div>
</template>

<script>
    import api_validoo_items from '../../api/validoo_items'
    import api_rise_datum from '../../api/rise_datum'

    const ValidooItem = require('./Item.vue');

    export default {
        data(){
          return {
              items: [],
              rise_datum: [],
              formItems: []
          }
        },

        mounted() {
            api_validoo_items.getValidooItems(response => {
                this.init_items(response)
                this.init_form_items()
            })

            api_rise_datum.getRiseDatumForAssignedValidoItems(response => {
                this.init_rise_datum(response);
            })
        },
        methods: {
            init_form_items(){
              for(let item of this.items) {
                  this.formItems.push({
                      product: {
                          id: item.id,
                          food: item.food
                      },
                      category_id: null
                  })
              }
            },
            init_items(response) {
                this.items = response.data
            },
            init_rise_datum(response){
                this.rise_datum = response
            },
            saveAssigned(){
                api_validoo_items.saveProductCatalogoryLevel(response => {
                    this.handle_response_save(response)
                },{data: this.formItems})
            },
            handle_response_save(response){
                if(response.status === 200){
                   window.location.reload()
                }
            }
        },
        components: { ValidooItem }
    }
</script>
<style type="text/css">
    .save-btn{
        margin-top: 50px;
    }
</style>>
