.search-products.snipcart-details{
    width: 100%;
}
.agileits-sear-head i{
    padding: 7px;
    cursor: pointer;
}
.agileits-sear-head i.fa-trash{
    color: red;
}

.agileits-sear-head i.fa-plus{
    color: green;
}
.search-products.snipcart-details .search-remove-btn{
    height: 34px;
    padding-top: 6px;
    cursor: pointer;
}
.search-products.snipcart-details .search-input{
    padding-right: 0;
}
.search-products input[type="search"] {
  background:#fff;
  border: none;
  width: 100%;
  margin-bottom: 10px;
  outline: none;
  padding: 11px 10px 10px 10px;
  font-size: 13px;
  color: #c4c4c4;
}
.search-products form input[type="submit"]{
  background: url(../../images/public/search.png) no-repeat 13px 11px #1accfd;
  width: 44px;
  height: 39px;
  border: none;
  padding:0;
  margin-top: 0;
  }
.search-grid-left{
  padding: 15px;
  background:#f5f4f0;
}
  h3.agileits-sear-head {
    color: #FF5722;
    margin-bottom: 20px;
    font-size: 21px;
}
.search-products{
    padding: 15px 0;
    border-bottom: 1px solid #e5e3db; 
}