<template>
    <div>
        <div class="container-fluid">
            <div class="search-products snipcart-details">
                <div class="agileinfo-ads-display">
                    <div class="wrapper">
                        <div class="product-sec1">
                            <h3 class="agileits-sear-head">Cart</h3>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>
                                        <tabs @changed="tabChanged">
                                            <tab name="chipiest">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <products-labels></products-labels>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <carousel :perPageCustom="[[480, 2], [968, 4]]">
                                                            <slide class="col-md-3" v-for="product in chipiests" :key='"chipiest" + product.gtin + product.id'>
                                                                <pre-order-product :product='product'></pre-order-product>
                                                            </slide>
                                                        </carousel>
                                                    </div>
                                                </div>
                                            </tab>
                                            <tab name="healthiest">
                                                <div class="row">
                                                    <div class="col-sm-2">
                                                        <products-labels></products-labels>
                                                    </div>
                                                    <div class="col-sm-10">
                                                        <carousel :perPageCustom="[[480, 2], [968, 4]]">
                                                            <slide class="col-md-3" v-for="product in healthiests" :key='"healthiest" + product.gtin + product.id'>
                                                                <pre-order-product :product='product'></pre-order-product>
                                                            </slide>
                                                        </carousel>
                                                    </div>
                                                </div>
                                            </tab>
                                        </tabs>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { Carousel, Slide } from 'vue-carousel';
    import {Tabs, Tab} from 'vue-tabs-component';
    import PreOrderProduct from './pre-order-product'
    import ProductsLabels from './products-labels'
    export default {
      name: 'cart',
      components: {
          Slide,
          Carousel,
          Tabs,
          Tab,
        //   PreOrder, 
          PreOrderProduct,
          ProductsLabels
      },
      computed:{
          chipiests(){
              return this.$store.getters.chipiests;
          },
          healthiests(){
              return this.$store.getters.healthiests;
          }
      },
      methods: {
          tabChanged() {
              $('.VueCarousel-inner').css('visibility', 'visible')
              $('.VueCarousel-inner').css('flex-basis', 'unset')
              
          }
      }
    }
</script>

<style>
    .VueCarousel-inner{
        backface-visibility: visible;
    }
    .search-products{
        padding: 0 15px;
    }
    
    .tabs-component {
        /* margin: 4em 0; */
    }

    .tabs-component-tabs {
        border: solid 1px #ddd;
        border-radius: 6px;
        margin-bottom: 5px;
    }

    @media (min-width: 700px) {
        .tabs-component-tabs {
            border: 0;
            align-items: stretch;
            display: flex;
            justify-content: flex-start;
            margin-bottom: -1px;
        }
    }

    .tabs-component-tab {
        color: #999;
        font-size: 14px;
        font-weight: 600;
        margin-right: 0;
        list-style: none;
    }

    .tabs-component-tab:not(:last-child) {
    border-bottom: dotted 1px #ddd;
    }

    .tabs-component-tab:hover {
    color: #666;
    }

    .tabs-component-tab.is-active {
    color: #000;
    }

    .tabs-component-tab.is-disabled * {
    color: #cdcdcd;
    cursor: not-allowed !important;
    }

    @media (min-width: 700px) {
    .tabs-component-tab {
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 3px 3px 0 0;
        margin-right: .5em;
        transform: translateY(2px);
        transition: transform .3s ease;
    }

    .tabs-component-tab.is-active {
        border-bottom: solid 1px #fff;
        z-index: 2;
        transform: translateY(0);
    }
    }

    .tabs-component-tab-a {
    align-items: center;
    color: inherit;
    display: flex;
    padding: .75em 1em;
    text-decoration: none;
    }

    .tabs-component-panels {
    padding: 4em 0;
    }

    @media (min-width: 700px) {
    .tabs-component-panels {
        border-top-left-radius: 0;
        background-color: #fff;
        border: solid 1px #ddd;
        border-radius: 0 6px 6px 6px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .05);
        padding: 4em 2em;
    }
    }
</style>
