<template>
    <div>
        <div v-for="(catValues,category) in nutrients" :key='category'>
            <div class="col-md-6">
                <div class="title category">{{category}}</div>
                <div v-for="(values, measurement) in catValues" :key='measurement'>
                    <div class="row measurement-row">
                        <div class='col-md-6' v-for="value in values" :key='value'>
                            <div class="radio-wrapper">
                                <input type='checkbox' :name='category + measurement' :id='category + measurement + value' @change='setChoosed($event, category, measurement, value)'>
                            </div>
                            <label :for='category + measurement + value'>{{formatedValue(value, measurement)}}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>

<script>
    
    // Vue.use(CheckboxRadio);
    export default {
      name: 'pre-order-filter',

      
      data(){
          return {
              product: {},
              choosedNutrients:{},
              nutrients: {},
          }
      },
      mounted(){
        this.product = this.$store.getters.preOrderProduct;
        this.setNutrients();
      },
      computed:{
          
      },
      methods:{
            setNutrients(){

                let res = {};
                let cheapest = this.$store.getters.filteredCheapest;
                cheapest.forEach(function(cheapProduct){
                    cheapProduct.nutritients.forEach(function(nutrient){
                        if(!res[nutrient.nutrient_type_code]){
                            res[nutrient.nutrient_type_code] = {};
                        }
                        let nutrientInfo = JSON.parse(nutrient.quantity_contained);

                        if(!res[nutrient.nutrient_type_code][nutrientInfo["@attributes"].measurementUnitCode]){
                            res[nutrient.nutrient_type_code][nutrientInfo["@attributes"].measurementUnitCode] = []
                        }
                        if(!res[nutrient.nutrient_type_code][nutrientInfo["@attributes"].measurementUnitCode].includes(nutrientInfo[0])){
                            res[nutrient.nutrient_type_code][nutrientInfo["@attributes"].measurementUnitCode].push(nutrientInfo[0])
                        }

                    })
                })
                Vue.set(this, 'nutrients', res);
            },
            setChoosed(e, category, measurement, value){
                let choosedNutrients = {...this.choosedNutrients}
                choosedNutrients[category] = choosedNutrients[category] || {};
                if(e.target.checked){
                    choosedNutrients[category] = value;
                }else{
                    choosedNutrients[category] = null;
                }
                this.$store.commit('addPreOrderFilter', {nutritients: choosedNutrients});
                this.setNutrients();
            },
            formatedValue(value, measurement){
                return value + '/' + measurement;
            }   
      }
      
    }
</script>

<style lang="scss" scoped>
    label{
        cursor: pointer;
    }
    .measurement-row{
        .radio-wrapper{
            display: inline-block;
        }
    }
    .category{
        text-align: center;
    }
    .title{
        color: #d60404;
    }
</style>
