<template>
<div>
    <div class="search-products snipcart-details col-md-12">

        <h3 class="agileits-sear-head">Preorder</h3>
        
        <div class="col-sm-6">

            Cheapest
            <div class="pre-order-product">
                <pre-order-product :product='cheapest' @onProductClick="onProductClick"></pre-order-product>
            </div>
        </div>

        <div class="col-sm-6">
            Healthy
            <div class="pre-order-product">
                <pre-order-product :product='healthy' @onProductClick="onProductClick"></pre-order-product>
            </div>
        </div>
        
        <pre-order-filter></pre-order-filter>
        
    </div>
    
</div>

</template>

<script>
    import PreOrderProduct from './pre-order-product'
    import Filter from './pre-order-filter'


    export default {
      name: 'pre-order',
      components: {
          PreOrderProduct,
          'pre-order-filter': Filter
      },
      computed: {
          cheapest(){
              return this.$store.getters.cheapest;
          },
          healthy(){
              return this.$store.getters.healthy
          }
      },
      methods:{
          onProductClick(product){
            this.$store.commit('clearPreOrderProduct');  
            this.$store.commit('clearPreOrderFilter');  
            this.$store.commit('addToCart', product);
          }
      }
    }
</script>

<style scoped>
    .search-products{
        padding: 15px;
    }
</style>
