<template>
<div>
    <div class="col-md-12 product-men">
        <div class="men-pro-item simpleCart_shelfItem" @click="onClick">
            <div class="men-thumb-item img-container">
                <img :src='imagePath' alt="" class="img-responsive">
            </div>
            <div class="item-info-product">
                <h4>
                    <a :href="productLink" target='blank'>{{product.product_info.title}}</a>
                </h4>
                <div class="product-field">
                    <span class="item_price">{{fullPrice}}</span>
                </div>
                
                <div class="product-field">{{product.product_info.brand}}</div>
                <div class="product-field">{{weight}}</div>
                <div class="product-field">{{product.quantity}}</div>
                <a :href="productLink" target='blank'>details...</a>
                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                    
                </div>
            </div>
        </div>
    </div>
    
</div>

</template>

<script>
    export default {
      name: 'pre-order-product',
      props: ['product'],
      methods:{
          onClick(){
              this.$emit('onProductClick', this.product);
          }
      },
      computed: {
          fullPrice(){
              return `${(this.product.product_info.price / 100)} ${this.product.product_info.currency}`;
          },
          imagePath(){
                if(this.product.images && this.product.images.length > 0){
                    return '/storage/' + this.product.images[0].middle;
                }else if(this.product.product_info.images && this.product.product_info.images.length > 0){
                    return this.product.product_info.images[0].src
                }   
          },
          weight(){
              if(this.product.compare_measurement && this.product.measurement_unit_code){
                  return `${this.product.compare_measurement} ${this.product.measurement_unit_code}`;
              }else{
                  return this.product.product_info.weight
              }
              
          },
          productLink(){
              return '/admin/validoo/trade_items/' + this.product.id;
          }
      }
    }
</script>

<style scoped>
    .search-products {
        padding: 15px;
    }
    .img-container {
        height: 200px;
    }
    .img-responsive {
        max-height: 200px;
        margin: 0 auto;
    }
</style>
