<template>
  <div class="products-fileds-labels">
    <div class="producs-filed-label">
      title:
    </div>
    <div class="producs-filed-label">
      price:
    </div>
    <div class="producs-filed-label">
      brand:
    </div>
    <div class="producs-filed-label">
     weight:
    </div>
     <div class="producs-filed-label">
     quantity:
    </div>
  </div>
  
</template>

<script>
export default {
  name: 'products-labels'
}
</script>

<style scoped>
  .products-fileds-labels {
    padding-top: 270px;
    text-align: right;
  }
  .producs-filed-label {
    /* padding: 5px 0; */
  }
</style>
