<template>
<div>
    <div class="search-products snipcart-details col-md-12">

        <h3 class="agileits-sear-head">Search Here..</h3>
        <div class="form-group" v-for='(product, index) in products' :key="product.id">
            <product-search-input :product='product' :index='index' @select='setData($event, index)' @removeProduct='removeProduct(index)'></product-search-input>
        </div>

    </div>
    
</div>

</template>

<script>
    import api_request from '../../../api/base_request'
    import searchInput from './search_input'

    export default {
      name: 'product_search',
      components: {
          'product-search-input' :searchInput
      },
      data(){
        return {
          products: [{

          }]
        }
      },
      methods: {
        setData(e, index){
            this.products[index] = e;
        },
        addProduct(index){
            this.products.push({title: '', id: this.products.length + 1})
        },
        removeProduct(index){
            this.products.splice(index, 1)
        },
        clearProducts(){
            this.products = [];
        },
        retrieveProductList(){
            api_request.retrieveData('trade_items_search/list', '', {
                params: this.products.map(function(item){
                    return item.title;
                })
            }).then(response => {
                console.log(response)
            })
        }
      },
    }
</script>

<style scoped>
    .search-products{
        padding: 15px;
    }
</style>
