<template>
<div>
    <div class="search-input agileits_search">
        <input type='search' v-model='value' @input='asyncFind'>
        <button type="submit" class="btn btn-default">
            <span class="fa fa-search" aria-hidden="true"> </span>
        </button>
        <div class="result" v-if='categories.length > 0' :class="{'full' : showFull}">
            <div class="categories row">
                <div class='category  col-md-6' v-for="category in categories" :key='category.category_name'>
                    <h4 class="category-title title" @click='addCategoryToCart(category)'>
                        {{category.category_name}}
                    </h4>
                    <ul>
                        <li v-for="product in category.products" :key='product.id'>
                            <span class="product-title title" @click='addProductToCart(category, product)'>
                                {{product.title}}
                            </span>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div>
                <div class="product-title pull-right more-btn" @click="showFull = true" v-if="!showFull">
                    more...
                </div>
            </div>
        </div>
    </div>
</div>
</template>


<script>
    import Multiselect from 'vue-multiselect'
    import api_request from '../../../api/base_request'

    export default {
      components: {
          Multiselect
      },
      name: 'product-search-input',
      data:() => {
          return {
              debounceTimer: '',
              categories: [],
              value: '',
              showFull: false
          }
      },
      methods: {
        asyncFind(){
            var that = this;
            clearTimeout(this.debounceTimer)
            this.debounceTimer = setTimeout(() => {
                if(that.value.length > 2){
                    api_request.retrieveData('trade_items_search/by_query', '', {
                    params: {
                        q: that.value
                    }
                    }).then(data => {
                        that.categories = data
                    })
                }
                
            },600)
        },
        onClose(){
            this.$emit('select', this.value)
        },
        addCategoryToCart(category){
            this.$store.dispatch('addProduct', {
                category: category
            });
            this.categories = [];

        },
        addProductToCart(category, product){
            let payload = {
                category: category,
                product: product
            }

            this.$store.dispatch('addProduct', payload);
            this.categories = [];
        }
        
        
      },
    }
</script>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>

<style scoped lang='scss'>
    .search-input{
        input[type='search']{
            color: black;
            width: calc(100% - 60px);
            border: 1px solid black;
        }
    }
    .agileits_search{
        position: relative;
        width: 100%;
    }
    .result{
        height: 600px;
        overflow: hidden;
        width: 100%;
        -webkit-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
        box-shadow: 0px 6px 23px 0px rgba(0,0,0,0.75);
        position: absolute;
        z-index: 2;
        background-color: #fafdfff7;
        padding: 15px;
        &.full{
            height: auto;
        }
        .title{
            transition: color .5s;
            color: #1accfd;
            cursor: pointer;
            &:hover{
                color: #000;
            }
        }
        .categories{
            .category{
                margin-bottom: 15px;
            }
            .category-title{
                color: #FF5722;
                margin-bottom: 15px;
                &:hover{
                   color: #000;
                }
            }
            ul{
                list-style: none;
                padding-left: 30px;
                li{
                    margin-bottom: 10px;
                    
                }
            }
            
        }
    }
    .more-btn{
        position: absolute;
        right: 15px;
        top: 566px;
        color: green;
        cursor: pointer;
    }

</style>