<template>
    <div class="autocomplete-wrapper">
        <!-- {{rows}} -->
        <div class="autocomplete ">
            <textarea @input="onChange" v-model="search" @paste='onPaste' @keyup.down.prevent="onArrowDown" @keyup.up.prevent="onArrowUp" @keydown.enter.prevent="onEnter" @keydown.tab.prevent="onEnter" />
            <template v-if="isOpen">
                <ul id="autocomplete-results"  :style="resultStyles()" class="autocomplete-results">
                    <li class="loading" v-if="isLoading">
                        Loading results...
                    </li>
                    <li v-else v-for="(result, i) in results" :key="i" @mouseover='onResultHover(i)'  @click="onEnter(i)" class="autocomplete-result" :class="{ 'is-active': i === arrowCounter }">
                        {{ result.product_name }}
                    </li>
                </ul>
            </template>
            
        </div>
    
  </div>
</template>


<script>
import base_request from '../../../api/base_request';

export default {
    name: "autocomplete",
    props: {
        isAsync: {
            type: Boolean,
            required: false,
            default: false,
            default: () => true
        }
    },

    data() {
        return {
            results: [],
            search: "",
            isLoading: false,
            arrowCounter: -1,
            rows: [],
            delayTimeout: '',
            isOnPaste: false
        };
    },

    methods: {
        onPaste(){
            var that = this;
            that.isOnPaste = true;
            that.$store.commit('clearCart');
            setTimeout(function(){
                if(!that.search.endsWith('\n')){
                    that.search += '\n';
                }
                that.recalculateRows()
                that.rows.forEach(function(row){
                    let searchQuery = that.buildSearchQuery(row);
                    if(searchQuery.search_name){
                        that.$store.dispatch('addProduct', that.buildSearchQuery(row))
                    }
                })
                that.isOnPaste = false;
            }, 200)
        },
        onChange() {
            this.$emit("input", this.search);
            if (this.isAsync) {
                this.isLoading = true;
                
                this.filterResults();

            } else {
                this.filterResults();
            }
        },
        resultStyles(){
            return {
                top: (this.rows.length * 23 + 4) + 'px',
                left: 0
            }
        },
        onResultHover(index){
            this.arrowCounter = index;
        },
        filterResults() {
            if(!this.isOnPaste){
                this.recalculateRows()
                if(this.lastWord.length > 2){
                    if(this.lastRow.quantity){
                        this.lastRow.words.splice(0,1);
                    }
                    let searchQuery = this.buildSearchQuery(this.lastRow);

                    if(searchQuery.search_name){
                        base_request.retrieveData('trade_items_search/by_query', '', {
                            params: {
                                search_name: searchQuery.search_name
                            }
                            }).then(data => {
                                this.results = data
                                this.isLoading = false;
                            })
                    }
                }
            }
            
        },
        setResult(result) {
            this.search = result;
        },
        onArrowDown(evt) {
            if (this.arrowCounter < this.results.length) {
                this.arrowCounter = this.arrowCounter + 1;
            }
        },
        onArrowUp() {
            if (this.arrowCounter >= 0) {
                this.arrowCounter = this.arrowCounter - 1;
            }
        },
        onEnter() {
            let choosedSearchResult = this.results[this.arrowCounter]
            if(choosedSearchResult){
                let choosedWord = choosedSearchResult.product_name
                this.lastRow = {search_name: choosedSearchResult.search_name}
                let partOfWord = this.lastRow.words[this.lastRow.words.length -1];
                this.search = this.search.substring(0, this.search.length - partOfWord.length) + choosedWord;
                // this.$store.add
            }
            this.results = [];
            this.onPaste();
        },
        buildSearchQuery(row){
            let search = {...{}, ...row};
            if(!search.search_name){
                let quantity = parseInt(row.phrases[0]);
                if(!isNaN(quantity)){
                    search.quantity = quantity;
                }
                search.search_name = row.words.join(' ')
            }
            return search;
            
        },
        handleClickOutside(evt) {
            if (!this.$el.contains(evt.target)) {
                this.arrowCounter = -1;
            }
        },
        recalculateRows(){
            let counter = 0;
            let rows = this.search.split('\n')
            this.rows = []
            rows.forEach(element => {
                    let tmp = {
                        phrases: element.split(','),
                        words: element.split(' '),
                    }
                    if(tmp.words[0]){
                        let quantity = parseFloat(tmp.words[0]);
                        if(quantity.toString().length == tmp.words[0]){
                            tmp.quantity = quantity;
                        }
                        Vue.set(this.rows, counter, {...this.rows[counter], ...tmp})
                    }
                    counter++;
            });
            return this.rows;
        }
    },
    computed: {
        parsedRows(){
            return this.rows.map(row => {
                let words = row.words;
                let tmp = {
                    quantity: words[0],
                    title: words[words.length - 1]
                }
                return tmp;
            })
        },
        lastRow:{
            get: function(){
                return this.rows[this.rows.length - 1]
            },
            set: function(obj){
                Vue.set(this.rows, this.rows.length - 1, {...this.lastRow, ...obj})
            }
        },
        lastWord(){
            return this.words[this.words.length -1];
        },
        words(){
            return this.search.split(' ');
        },
        isOpen(){
            return this.results.length > 0;
        }
    },
    created(){
        this.recalculateRows();
    },
    mounted() {
        document.addEventListener("click", this.handleClickOutside);
    },
    destroyed() {
        document.removeEventListener("click", this.handleClickOutside);
    }
}

</script>


<style lang="scss" scoped>
    .autocomplete-wrapper {
        height: 100%;
        padding-bottom: 15px;
    }
    .autocomplete {
        height: 100%;
        position: relative;
        textarea{
            box-shadow: 0px 0px 15px 0px #D6D6D6;
            border: none;
            width: 100%;
            height: 100%;
            resize: vertical;
            resize: none;
            outline: none;
        }
    }

    .autocomplete-results {
        padding: 0;
        margin: 0;
        border: 1px solid #eeeeee;
        // height: 120px;
        overflow: auto;
        width: 100%;
        position: absolute;
        list-style: none;
        text-align: left;
        // padding: 4px 2px;
        cursor: pointer;
    }
    .autocomplete-result.is-active,
    .autocomplete-result:hover {
        background-color: #4aae9b;
        color: white;
    }

</style>